@{
    ViewBag.Title = "Eventus";
}

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Menu</li>
    <li>@Html.ActionLink("Gracze", "Index", "Player")</li>
    <li>@Html.ActionLink("Eventy", "Index", "Event")</li>
    <li>@Html.ActionLink("Dodaj event", "CreateEvent", "Home")</li>
</ul>