@model EventsListViewModel

@{
    ViewBag.Title = "Eventy";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>Najbliższe wydarzenia: </h2>
<br />
@Html.Partial("_EventList", Model.UpcommingEvents)

<h2>Wcześniejsze wydarzenia: </h2>
<br />
@Html.Partial("_EventList", Model.ArchivedEvents)