@model EventsListViewModel

@{
    ViewBag.Title = "Eventy";
}

<p>
    @Html.ActionLink("Nowe wydarzenie", "Create", null, new { data_role = "button" })
</p>
<h2>Najbliższe wydarzenia: </h2>
<br />
@Html.Partial("_EventList", Model.UpcommingEvents)

<h2>Odbyte - nierozliczone wydarzenia: </h2>
<br />
@Html.Partial("_EventList", Model.UnaccountedEvents)